{% extends "base.html" %}
{% block content %}
  {{ super() }}
  {# reach into the schema data and pull out details #}
  {% if "full_name" not in page.meta %}
    {# trace #}
    {% set details=page.meta %}
  {% else %}
    {% set temp_key=page.meta.name.split(".")[-1] %}
    {% set temp=config["data"]["plot-schema"]["layout"]["layoutAttributes"][temp_key] %}
    {% if "_isSubplotObj" in temp %}
      {# subplot #}
      {% set details=temp %}
    {% else %}
      {# everything that isn't trace or subplot #}
      {% set details=temp["items"].values() | first %}
    {% endif %}
  {% endif %}
  <h2>JavaScript Figure Reference: <code>{{page.full_name}}</code></h2>
  {% with toplevel=true, parentlink=page.layout, block=page.layout, parentpath=page.layout, attribute=details %}
    {% include "block.jinja" %}
  {% endwith %}
{% endblock %}
